Node-red Display Digital
[
    {
        "id": "1e94eb0fef2847c7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92ab0291c3fb72f3",
        "type": "arduino-board",
        "device": "COM21"
    },
    {
        "id": "e3b1bd4881788646",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8220271cdea44132",
        "type": "ui_group",
        "name": "DISPLAY",
        "tab": "f40ee594586ea879",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f40ee594586ea879",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7452b23b29fd49f2",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "4c422c2fb0fc09a5",
                "4e28e0df77e67da3",
                "7a5cff4fefa0a364",
                "a1062ad9975e3086",
                "b49a11fb735e2d25",
                "54c8404ecc7305a6",
                "54a75c5c6c392ec4"
            ]
        ]
    },
    {
        "id": "b49a11fb735e2d25",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "a1062ad9975e3086",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a5cff4fefa0a364",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e28e0df77e67da3",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "4c422c2fb0fc09a5",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "04b9cc4eec46dca1",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "ffcd84e537aa1ee5",
                "1ace98aa97f70c48",
                "22768da8e7d3c77c"
            ]
        ]
    },
    {
        "id": "ffcd84e537aa1ee5",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "4132924748128a63",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "2a3cfe70bf468316",
                "4c773eb774135ac5",
                "931eaa6794e9fd82",
                "608cd3a3fa49668f",
                "7abd92bdf7dc23be",
                "d026ecbb3c6fe980"
            ]
        ]
    },
    {
        "id": "2a3cfe70bf468316",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4c773eb774135ac5",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1260,
        "wires": []
    },
    {
        "id": "931eaa6794e9fd82",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1320,
        "wires": []
    },
    {
        "id": "608cd3a3fa49668f",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1420,
        "wires": []
    },
    {
        "id": "54c8404ecc7305a6",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "c02ecd4cba784bc5"
            ]
        ]
    },
    {
        "id": "1ace98aa97f70c48",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "2e1f855e5b10b68d",
                "6175cf35a0509427",
                "718bb479bd4f6443",
                "0f1e0eead8361701",
                "2044393364b505d5"
            ]
        ]
    },
    {
        "id": "7abd92bdf7dc23be",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "2606539f9fd4c247",
                "f497315f84a9750e"
            ]
        ]
    },
    {
        "id": "c02ecd4cba784bc5",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "2e1f855e5b10b68d",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "6175cf35a0509427",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "718bb479bd4f6443",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "0f1e0eead8361701",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "2044393364b505d5",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 920,
        "wires": []
    },
    {
        "id": "2606539f9fd4c247",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f497315f84a9750e",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1380,
        "wires": []
    },
    {
        "id": "22768da8e7d3c77c",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 600,
        "wires": []
    },
    {
        "id": "54a75c5c6c392ec4",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "d026ecbb3c6fe980",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a47b666c501df5da",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "2b0d14d815de367c",
                "b9f054feb909e789",
                "974d491a2f250218",
                "4f59dfdf0eefe23a",
                "2b974f472b603605",
                "86afc6a2e2336f1b"
            ]
        ]
    },
    {
        "id": "b9f054feb909e789",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b974f472b603605",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "51590316cb517590",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "86afc6a2e2336f1b",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b0d14d815de367c",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 40,
        "wires": [
            [
                "51590316cb517590",
                "f3d95cd54b36e8bb"
            ]
        ]
    },
    {
        "id": "4f59dfdf0eefe23a",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "f3d95cd54b36e8bb",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "974d491a2f250218",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "abdd356dbb8f5184",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "7788b0ccd85dc152",
                "e67667ebfbfd1020",
                "ca183a3825244727",
                "88506a48131ead54",
                "023a76c80543db76"
            ]
        ]
    },
    {
        "id": "f96bcc484adb6191",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "056ca944f8168556",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "0f44f75005e77714",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "ca183a3825244727",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 880,
        "wires": []
    },
    {
        "id": "7788b0ccd85dc152",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 520,
        "wires": [
            [
                "f96bcc484adb6191",
                "056ca944f8168556",
                "0f44f75005e77714"
            ]
        ]
    },
    {
        "id": "023a76c80543db76",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "e67667ebfbfd1020",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 840,
        "wires": []
    },
    {
        "id": "88506a48131ead54",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "e56f2bfb3c13997e",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "80cf2f8f3aee1703",
                "5ab655eb14d93c74",
                "7c6636a0392ad17c",
                "4bce8ffd04809dfb",
                "916930d5f6d31660",
                "76aec2ab868d1226"
            ]
        ]
    },
    {
        "id": "5ab655eb14d93c74",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1080,
        "wires": []
    },
    {
        "id": "76aec2ab868d1226",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1260,
        "wires": []
    },
    {
        "id": "495d563ed643c83a",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7c6636a0392ad17c",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1420,
        "wires": []
    },
    {
        "id": "80cf2f8f3aee1703",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1060,
        "wires": [
            [
                "481da1e9ebb2ec5d",
                "495d563ed643c83a"
            ]
        ]
    },
    {
        "id": "916930d5f6d31660",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4bce8ffd04809dfb",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1380,
        "wires": []
    },
    {
        "id": "481da1e9ebb2ec5d",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "18f5f5e5c15b23ed",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "32b0ad6e662ea768",
                "e19bf60b514be94b",
                "ea7c13836ce2071c",
                "2d0cc7d17470b652",
                "d949561590162152",
                "cd5bb41f25086a5b",
                "81152e8f229e3269"
            ]
        ]
    },
    {
        "id": "e19bf60b514be94b",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 60,
        "wires": []
    },
    {
        "id": "81152e8f229e3269",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "d949561590162152",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea7c13836ce2071c",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "32b0ad6e662ea768",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 40,
        "wires": [
            [
                "d78afb3fbfba3b17"
            ]
        ]
    },
    {
        "id": "cd5bb41f25086a5b",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d0cc7d17470b652",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "d78afb3fbfba3b17",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 120,
        "wires": []
    },
    {
        "id": "c9daab03ab116ab8",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "bea418b6baa61050",
                "612d1c3f1f268a72",
                "45ab1adf890ce4cc",
                "66f34012b2de5322"
            ]
        ]
    },
    {
        "id": "66f34012b2de5322",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 540,
        "wires": []
    },
    {
        "id": "e00a659098898564",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "10ae3ab8d276a120",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 780,
        "wires": []
    },
    {
        "id": "e8709f468d35b53c",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "bea418b6baa61050",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "e00a659098898564",
                "10ae3ab8d276a120",
                "46461a16b58b152a",
                "e8709f468d35b53c"
            ]
        ]
    },
    {
        "id": "45ab1adf890ce4cc",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 660,
        "wires": []
    },
    {
        "id": "46461a16b58b152a",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 840,
        "wires": []
    },
    {
        "id": "612d1c3f1f268a72",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 600,
        "wires": []
    },
    {
        "id": "57ae6d24e71165af",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "8fc40badcc2a0989",
                "196a38c017632126",
                "3fc407f2a8f51d54",
                "a1200a19ef440f31",
                "071c756e4280caf1",
                "b504980f578f1f17",
                "01ae47d587b3eecd",
                "e12f0616b087e9c3"
            ]
        ]
    },
    {
        "id": "196a38c017632126",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1080,
        "wires": []
    },
    {
        "id": "071c756e4280caf1",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b504980f578f1f17",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e12f0616b087e9c3",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8fc40badcc2a0989",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a1200a19ef440f31",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1200,
        "wires": []
    },
    {
        "id": "01ae47d587b3eecd",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3fc407f2a8f51d54",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1310,
        "y": 1140,
        "wires": []
    },
    {
        "id": "fe2f9e782072a8a1",
        "type": "ui_button",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1490,
        "y": 660,
        "wires": [
            [
                "24203b9e9b420662",
                "48e49e39860be95f",
                "61412ac21b759431",
                "b42cec60fec9386a",
                "d6c6123f174db1a7",
                "e53391e8548a7bfe"
            ]
        ]
    },
    {
        "id": "48e49e39860be95f",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 540,
        "wires": []
    },
    {
        "id": "94708942da75e10d",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 720,
        "wires": []
    },
    {
        "id": "699a968adf60b827",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 780,
        "wires": []
    },
    {
        "id": "e53391e8548a7bfe",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 880,
        "wires": []
    },
    {
        "id": "24203b9e9b420662",
        "type": "change",
        "z": "1e94eb0fef2847c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 520,
        "wires": [
            [
                "94708942da75e10d",
                "699a968adf60b827"
            ]
        ]
    },
    {
        "id": "b42cec60fec9386a",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 660,
        "wires": []
    },
    {
        "id": "d6c6123f174db1a7",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 840,
        "wires": []
    },
    {
        "id": "61412ac21b759431",
        "type": "arduino out",
        "z": "1e94eb0fef2847c7",
        "name": "B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "92ab0291c3fb72f3",
        "x": 1770,
        "y": 600,
        "wires": []
    }
]
